.DS_Store
grocery/__pycache__/
user_account/__pycache__/
grocery/migrations/__pycache__/
grocery/__pycache__/
grocery/__pycache__/
grocery/__pycache__/__init__.cpython-39.pyc
grocery/__pycache__/admin.cpython-39.pyc
grocery/__pycache__/api_function.cpython-39.pyc
grocery/__pycache__/apps.cpython-39.pyc
grocery/__pycache__/forms.cpython-39.pyc
grocery/__pycache__/urls.cpython-39.pyc
grocery/migrations/__pycache__/__init__.cpython-39.pyc
grocery/migrations/__pycache__/0001_initial.cpython-39.pyc
grocery/migrations/__pycache__/0002_grocerylist.cpython-39.pyc
grocery/migrations/__pycache__/0004_auto_20210802_2146.cpython-39.pyc
grocery/migrations/__pycache__/0005_auto_20210802_2149.cpython-39.pyc
grocery/migrations/__pycache__/0008_grocerylistarchive.cpython-39.pyc
grocery/migrations/__pycache__/0011_auto_20210809_0203.cpython-39.pyc
grocery/migrations/__pycache__/0012_auto_20210811_1948.cpython-39.pyc
grocery/migrations/__pycache__/0015_auto_20210811_1952.cpython-39.pyc
grocery/migrations/__pycache__/0016_alter_grocerylistarchive_date.cpython-39.pyc
grocery/migrations/__pycache__/0017_alter_grocerylistarchive_date.cpython-39.pyc
grocery/migrations/__pycache__/0023_grocerylist_date.cpython-39.pyc
grocery/migrations/__pycache__/0030_auto_20210817_2036.cpython-39.pyc
grocery/migrations/__pycache__/0033_grocerylist_list_name.cpython-39.pyc
grocery/migrations/__pycache__/0036_auto_20210817_2123.cpython-39.pyc
grocery/migrations/__pycache__/0037_auto_20210821_1728.cpython-39.pyc
grocery/migrations/__pycache__/0039_userpost_title.cpython-39.pyc
grocery/templatetags/__pycache__/__init__.cpython-39.pyc
grocery/templatetags/__pycache__/tagger.cpython-39.pyc
user_account/__pycache__/__init__.cpython-39.pyc
user_account/__pycache__/admin.cpython-39.pyc
user_account/__pycache__/apps.cpython-39.pyc
user_account/__pycache__/models.cpython-39.pyc
user_account/__pycache__/urls.cpython-39.pyc
user_account/migrations/__pycache__/__init__.cpython-39.pyc
