{% extends 'base.html' %}

{% block content %}


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'grocery.css' %}">

<body id="base-bg-img">

<div class="card" style="margin-top: 10px;border:none; background-color:rgba(255, 255, 255, 0)">
    <div class="card-header">
        <h3>Recipe Search</h3>
    </div>
    <div class="card-body">
<form method="POST" action="{% url 'grocery:recipe_search' %}" class="form-control" style="border: none;background-color:rgba(255, 255, 255, 0)">
    {% csrf_token %}
    <label for="food">Main Ingredient </label>
    <input type="text" name="food" id="food" class="form-control" placeholder="i.e. Chicken" required > 
    <label for="cuisine" class="mt-3">Cuisine type </label>
    <input type="text" name="cuisine" id="cuisine" class="form-control" placeholder="i.e. Indian">


<button type="submit" class="btn btn-outline-info mt-3">Search </button>
</form>
    </div>
</div>
</body>

{% endblock %}