{% extends 'base.html' %}

{% block content %}


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'grocery.css' %}">

<div class="card">
    <div class="card-header">
    <h4>{{ res.recipe.label }} </h4>
    <span> <a href="{{ res.recipe.url }}" target="_blank">See Instruction</a></span>
        <br>
    <span><a href="{% url 'grocery:add_recipe' recipe_id=recipe_id %}">Add to Personal Menu</a></span>
    <br>
    <img src="{{ res.recipe.image }}">
    </div>
    <div class="card-body">
        {% for i in res.recipe.ingredientLines %}
        {{ i }} <br>
        {% endfor %}
    </div>
</div>



{% endblock %}