{% extends 'base.html' %}

{% block content %}


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'grocery.css' %}">

<body id="base-bg-img-discussion">

<div class="card" style="margin-top: 10px;border:none; background-color:rgba(255, 255, 255, 0)">
    <div class="card-header">
        <h3>Recipe Search</h3>
    </div>
    
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message | safe }}
    </div>
    {% endfor %}

    <div class="card-body">
<form method="POST" action="{% url 'grocery:recipe_search' %}" class="form-control" style="border: none;background-color:rgba(255, 255, 255, 0)">
    {% csrf_token %}
    <label for="food">Main Ingredient </label>
    <input type="text" name="food" id="food" class="form-control" placeholder="i.e. Chicken" required > 
    <label for="cuisine" class="mt-3">Cuisine type </label>
    <input type="text" name="cuisine" id="cuisine" class="form-control" placeholder="i.e. Indian">

    <label class="mt-3" for="list">Meal Type</label>
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example"
        name="meal_type" id="list">
        <option value="Dinner">Dinner</option>
        <option value="Lunch">Lunch</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Snack">Snack</option>
        <option value="Teamtime">Teatime</option>
    </select>

<button type="submit" class="btn btn-outline-info mt-3">Search </button>
</form>
    </div>
</div>
</body>

{% endblock %}