table {
    margin: 0 auto;
    /* float: none; */
    margin-bottom: 10px;
    width: 200px;
    max-width: 90%;
    margin-top: 20px;
}
.home {
    color:aliceblue;
    text-align: center;
}
#home-text{
    font-size: 100px;
}
#category {
    margin-top: 10px;
}
#home-img {
    background-image: url(https://images.squarespace-cdn.com/content/v1/5ade21d31137a68018a194df/1524704598930-IJW7YCD63Y7UB2TP41CE/faded+food.jpg?format=2500w);
    background-repeat: no-repeat;
    background-size:cover;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

/* view_list.html list table */
th, td , th{
    font-size: 20px;
}
#date {
    font-size: 15px;
}
/* base.html navbar */
.navbar-brand{
    font-size: 20px;
}
.nav-link {
    font-size: 20px;
}
.navbar-toggler {
    font-size: 20px;
}
#home-text{
    font-size: 25px;
}
#menu-card h4 {
    font-size: 15px;
}
#home-img {
    background-repeat:repeat-y;
}
}
