table {
    margin: 0 auto;
    /* float: none; */
    margin-bottom: 10px;
    width: 200px;
    max-width: 90%;
    margin-top: 20px;
}
.new_list .card { 
    margin: 0 auto;
    float: none;
    width: 90%;
    margin-top: 20px;
}
.home {
    color:rgba(0, 28, 142, 0.666);
    margin-top: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#home-text{
    font-size: 100px;
    text-shadow: 2px 2px 7px white;
}
#category, #item {
    margin-top: 10px;
}
#home-img {
    /* background-image: url(https://images.unsplash.com/photo-1584055482118-3f355578daef?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1268&q=80); */
  background-image: url(https://images.unsplash.com/photo-1526383426426-c1716158d22a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
/* background-image: url(https://images.unsplash.com/photo-1459663148042-6d8cb9340411?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80); */
background-repeat: no-repeat;
    background-size:cover;
}
#base-bg-img {
    background-image: url(https://i.imgur.com/XiPGYem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

/* view_list.html list table */
#view_list th{
    font-size: 12px;
    text-align: center;
}

#home-img {
    /* background-image: url(https://images.unsplash.com/photo-1584055482118-3f355578daef?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1268&q=80); */
    /* background-image: url(https://images.unsplash.com/photo-1532980400857-e8d9d275d858?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mzd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80); */
    background-image: url(https://images.squarespace-cdn.com/content/v1/51a26fefe4b0cf20ca08ec33/1569361984482-HFP7JH4S392MKTKL9OGL/_S7I0548QuinoaSaladLunch.jpg?format=2500w);
    height:700px ;}

#date {
    font-size: 15px;
}
/* base.html navbar */
.navbar-brand{
    font-size: 20px;
}
.nav-link {
    font-size: 20px;
}
.navbar-toggler {
    font-size: 20px;
}
#home-text{
    font-size: 25px;
}
#menu-card h4 {
    font-size: 15px;
}

}
