{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main02.css' %}">


<body id="base-bg-img-discussion">

<a class="btn btn-outline-info mt-3" href="{% url 'grocery:discussion' %}">Back</a>


<article class="media content-section" style="background-color: rgba(255, 255, 255, 0.5)">
  <div class="media-body" >
    <div class="article-metadata">
      <small class="mr-2"> {{ object.0.user_name|capfirst }} - </small>
      <small class="text-muted">{{ object.0.date|date:"F d, Y" }}</small>

    </div>
    <h2 class="article-title">{{ object.0.title }}</h2>
    <p class="article-content" id="post" >{{ object.0.post }}</p>
  </div>
  <div>
    <hr>
    {% if object.0.user_name == user %}
    <div>
      <a class="btn btn-secondary mt-1 mb-1" href="{% url 'grocery:post-update' object.0.id %}"><i class="fa fa-edit"></i></a>
      <a class="btn btn-danger mt-1 mb-1" href="{% url 'grocery:post-delete' object.0.id %}"><i class="fa fa-trash"></i></a>
    </div>
    {% endif %}
</article>


<article class="media content-section" style="overflow: scroll; height:400px;background-color: rgba(255, 255, 255, 0.5);" >
  {% for i in user_comment %}
  <div class="media-body">
    <div class="article-metadata">
      <small class="mr-2"> {{ i.user_name|capfirst }} - </small>
      <small class="text-muted">{{ i.date|date:"F d, Y" }}</small>
      {% if i.user_name == user %}
      <div>
        <a href="{% url 'grocery:comment-update' i.id object.0.id %}"><i class="fa fa-edit"></i></a>
        <a href="{% url 'grocery:comment-delete' i.id object.0.id %}"><i class="fa fa-trash"></i></a>
      </div>
      {% endif %}
    </div>
    <p class="article-content" id="comment">{{ i.comment }}</p>
  </div>
  <div>
    {% endfor %}
</article>


<div class="content-section">
  <form method="POST" action="{% url 'grocery:comment-add' post_id=object.0.id %}">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Comment</legend>
      <textarea name="comment" class="form-control"></textarea>
      <input type="hidden" name="post_id" value="{{ object.0.id }}">
    </fieldset>
    <div class="form-group mt-3">
      <button class="btn btn-outline-info" type="submit">Comment</button>
    </div>
  </form>

</div>
</body>

<script>
  function urlify(text) {
    let urlRegex = /(https?:\/\/[^\s]+)/g;
    return text.replace(urlRegex, function(url) {
      return '<a href="' + url + '" target="_blank">' + " Link to the site" + '</a>';
    })
    // or alternatively
    // return text.replace(urlRegex, '<a href="$1">$1</a>')
  }
  
  let post = document.getElementById('post').innerHTML;
  let postHtml = urlify(post);
  document.getElementById('post').innerHTML = postHtml


  let comment = document.getElementById('comment').innerHTML;  
  let commentHtml = urlify(comment);
  document.getElementById('comment').innerHTML = commentHtml
  


</script>

{% endblock %}