.content {
    margin-top: 20px;
}

.card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
    width: 30%;
}

.card-body {
    text-align: center;
}

.card-header {
    background-color: rgb(131, 0, 0);
    color: white;
    text-align: center;
    font-size: large;
}


@media (max-width: 700px) {
    .content {
        margin-top: 20px;
    }

    .card {
        width: 100%;
    }
}