{% extends 'base.html' %}

{% block content %}
<body id="base-bg-img">
<div class="card mt-3">
    <div class="card-header">
        <h3>Add New Dish </h3>
    </div>
    <div class="card-body">
        <form method="POST" action="{% url 'grocery:c-menu' %}" class="form-control">
            {% csrf_token %}
            <label for="cat"><h4>New Dish</h4>
            </label>
            <br>
            <input class="form-control" id="cat" type="text" name="dish" placeholder="Chicken Marsala" required>
            <label class="mt-2" for="instruction">Instruction </label>
            <textarea class="form-control" name="instruction" id="instruction"></textarea>
            <div class="mt-3 mb-1" id="newElementId"></div>
            <br>
            <div id="dynamicCheck">
                <button class="btn btn-outline-danger" type="button" value="Add Ingredients" onclick="createNewElement();">Add Ingredients</button>
            </div>
            <br>
            <br>
            <button style="margin: 5px;" class="btn btn-outline-info" type="submit">Add to Menu</button>
        </form>
    </div>

</div>

    


<script type="text/JavaScript">
    function createNewElement() {
        // First create a DIV element.
        var txtNewInputBox = document.createElement('div');
    
        // Then add the content (a new input box) of the element.
        txtNewInputBox.innerHTML = "<input class='form-control' type='text' name='item' id='item' style='margin:5px'>";
    
        // Finally put it where it is supposed to appear.
        document.getElementById("newElementId").appendChild(txtNewInputBox);
    }
    </script>


    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message | safe }}
    </div>
    {% endfor %}
</body>
{% endblock %}