
<title>Grocery Archived List</title>
{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'grocery.css' %}">


<body id="base-bg-img-discussion">

<table class="table table-striped table-bordered">
    <tr>
        <th>Item</th>
        <th>Date Added </th>
    </tr>
    {% for i in item_list %}
    <tr>
        <td>
         {{ i.item }}
        </td>
        <td id="date">
            {{ i.date }}
        </td>
    </tr>
{% endfor %}
</table>
</body>
{% endblock %}