{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'grocery.css' %}">

<body id="base-bg-img">

<div class="card" id="category">
    <div class="card-header">
        <h4>Select a Category</h4>

    </div>
    <div class="card-body">
        <form action="{% url 'grocery:create_list' list_id=list_id %}" method="post">
            {% csrf_token %}
            <label for="cat">Choose a Category:</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="cat" id="cat">
                {% for i in cat %}
                <option value="{{ i.category }}">{{ i.category }}</option>
                
                {% endfor %}
            </select>
            <input type="hidden" name="list_name" value="{{ new_list.0.name }}">
            <button type="submit" class="btn btn-success">Show Items</button>
        </form>
    </div>
</div>
{% if new %}
<div class="card" id="item">
    <div class="card-header">
        <h4>Select an Item in "{{ this }}"</h4>
    </div>
    <div class="card-body">

        <form action="{% url 'grocery:add' list_id=list_id %}" method="post" class="form-control">
            <table class="table table-striped">
                    <tr>
                        <th>Item</th>
                    </tr>
                {% for i in item %}
                <tr>
                    <td>
                        {% csrf_token %}
                        <div class="form-check">
                            <label class="form-check-label" for="item">{{ i.item }}</label>
                            <input class="form-check-input" name="item" type="checkbox" value="{{ i.item }}" id="item">
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <input type="hidden" name="list_name" value="{{ list_id }}">
            <button type="submit" class="btn btn-success">Add to List</button>
        </form>
    </div>
</div>
{% endif %}

</body>
{% endblock %}