{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'grocery.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">

<body id="base-bg-img-discussion">
<div class="container">
    <a href="{% url 'grocery:menu' %}" class="btn btn-outline-info mt-2"> Back</a>
    <div class="card mt-3" >
        <div class="card-header">
            <h2> {{ dish.0.dish }}</h2>
        </div>
        
        <div class="card-body">
            {% if dish.0.instruction %}
            <h4> Instruction </h4>
            <p id="dish">{{ dish.0.instruction }} </p>
            {% endif %} 
            <a class="btn btn-outline-info mt-1 mb-3" href="{% url 'grocery:menu-update' menu_id=dish.0.id %}">Update Instruction</a> 
                <form action="{% url 'grocery:add' list_id=0 %}" method="post" class="form-control">
                    {% csrf_token %}

                            <label for="list">Choose a Your List:</label>
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example"
                                name="menu_list_id" id="list">
                                {% for i in lists %}
                                <option value="{{ i.id }}">{{ i.name }}</option>

                                {% endfor %}
                            </select>
                        
                    {% for item in dish_detail %}
      
                            <div class="form-check mb-4">
                                <label class="form-check-label" for="item">{{ item.item }}</label>
                                <input class="form-check-input" name="item" type="checkbox" value="{{ item.item }}" id="item">
                            </div>
      
                    {% endfor %}
      
                            <button type="submit" class="btn btn-outline-info">Add to List</button> 
                            <a class="btn btn-outline-info" href="{% url 'grocery:item-update-form' menu_id=menu_id %}">Update Items</a>
                </form>
            
        </div>
    </div>
</div>
</body>
{% load static %}
<script>


    function urlify(text) {
        let urlRegex = /(https?:\/\/[^\s]+)/g;
        return text.replace(urlRegex, function (url) {
          return '<a href="' + url + '" target="_blank">' + " Link to the site" + '</a>';
        })
      }
    
      let post = document.getElementById('dish').innerHTML;
      let postHtml = urlify(post);
      document.getElementById('dish').innerHTML = postHtml
    
    function user_mention(post){
      const userRegex = /@\b(\w*\w*)\b/g;
      return post.replace(userRegex, function (username) {
          return '<a href="">' + `${username}` + '</a>';
      })
    }
    
    const user_name = document.getElementById('dish').innerHTML;
    function user_mention_api_call(text){
    
      const userRegex = /@\b(\w*\w*)\b/g;
      const testing = userRegex.test(text)
      console.log(testing)
      const a = text.match(userRegex)
      console.log(a.length)
      if (a !== null) {
          if (a.length === 1 ) {
              const user_mentioned = a[0].split('@')[1]
              fetch(`/grocery/api/user/${user_mentioned}`).then(response => response.json())
              .then(function (data) {
                  console.log(data.user_list)
                  if (data.user_list.length !== 0) {
                      const user_name = document.getElementById('dish').innerHTML;
                      const user_mention_txt = user_mention(user_name);
                      document.getElementById('dish').innerHTML = user_mention_txt
                  }
                  
    
                  
              })
          }}
    
    }
    user_mention_api_call(user_name)

// ---------------------------------

// Example POST method implementation:
async function postData(url = '', data = {}) {
    // Default options are marked with *
    const response = await fetch(url, {
      method: 'POST', // *GET, POST, PUT, DELETE, etc.
      headers: {
        'Content-Type': 'application/json'
        // 'Content-Type': 'application/x-www-form-urlencoded',
      },

      body: JSON.stringify(data) // body data type must match "Content-Type" header
    });
    return response.json(); // parses JSON response into native JavaScript objects
  }
  
  postData('/grocery/api/grocery/list/', { answer: 42 })
    .then(data => {
      console.log(data); // JSON data parsed by `data.json()` call
    });
  




</script>


{% endblock %}