{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'grocery.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">

<body id="base-bg-img-discussion">

    <div class="card mt-3" >
        <div class="card-header">
            <h2> {{ dish.0.dish }}</h2>
        </div>
        <div class="card-body">
            {% if dish.0.instruction %}
            <h4> Instruction </h4>
            <p id="dish">{{ dish.0.instruction }} </p>
            {% endif %} 

            <table class="table table-striped table-bordered">
                <tr>
                    <th>Dish Item </th>
                </tr>

                <form action="{% url 'grocery:add' list_id=0 %}" method="post" class="form-control">
                    {% csrf_token %}
                    <tr>
                        <td>
                            <label for="list">Choose a Your List:</label>
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example"
                                name="menu_list_id" id="list">
                                {% for i in lists %}
                                <option value="{{ i.id }}">{{ i.name }}</option>

                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                        
                    {% for item in dish_detail %}
                    <tr>
                        <td>

                            <div class="form-check">
                                <label class="form-check-label" for="item">{{ item.item }}</label>
                                <input class="form-check-input" name="item" type="checkbox" value="{{ item.item }}"
                                    id="item">
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-outline-info">Add to List</button> <a href="{% url 'grocery:menu' %}" class="btn btn-outline-info"> Back</a>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</body>
<script>
    function urlify(text) {
      let urlRegex = /(https?:\/\/[^\s]+)/g;
      return text.replace(urlRegex, function (url) {
        return '<a href="' + url + '" target="_blank">' + " Link to the site" + '</a>';
      })
      // or alternatively
      // return text.replace(urlRegex, '<a href="$1">$1</a>')
    }
  
    let post = document.getElementById('dish').innerHTML;
    let postHtml = urlify(post);
    document.getElementById('dish').innerHTML = postHtml
  

  
  
  
  </script>


{% endblock %}