{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'grocery.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">

<body id="base-bg-img-discussion">
<div class="container">
    <a href="{% url 'grocery:menu' %}" class="btn btn-outline-info mt-2"> Back</a>
    <div class="card mt-3" >
        <div class="card-header">
            <h2> {{ dish.0.dish }}</h2>
        </div>
        
        <div class="card-body">
            {% if dish.0.instruction %}
            <h4> Instruction </h4>
            <p id="dish">{{ dish.0.instruction }} </p>
            {% endif %} 
            <a class="btn btn-outline-info mt-1 mb-3" href="{% url 'grocery:menu-update' menu_id=dish.0.id %}">Update Instruction</a> 
                <form action="{% url 'grocery:add' list_id=0 %}" method="post" class="form-control">
                    {% csrf_token %}

                            <label for="list">Choose a Your List:</label>
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-sm example"
                                name="menu_list_id" id="list">
                                {% for i in lists %}
                                <option value="{{ i.id }}">{{ i.name }}</option>

                                {% endfor %}
                            </select>
                        
                    {% for item in dish_detail %}
      
                            <div class="form-check mb-4">
                                <label class="form-check-label" for="item">{{ item.item }}</label>
                                <input class="form-check-input" name="item" type="checkbox" value="{{ item.item }}" id="item">
                            </div>
      
                    {% endfor %}
      
                            <button type="submit" class="btn btn-outline-info">Add to List</button> 
                            <a class="btn btn-outline-info" href="{% url 'grocery:item-update-form' menu_id=menu_id %}">Update Items</a>
                </form>
            
        </div>
    </div>
</div>
</body>
<script>


    function urlify(text) {
      let urlRegex = /(https?:\/\/[^\s]+)/g;
      return text.replace(urlRegex, function (url) {
        return '<a href="' + url + '" target="_blank">' + " Link to the site" + '</a>';
      })
    }
  
    let post = document.getElementById('dish').innerHTML;
    let postHtml = urlify(post);
    document.getElementById('dish').innerHTML = postHtml
  

  
  
  
  </script>


{% endblock %}