<title>Grocery List</title>
{% extends 'base.html' %}




{% block content %}

<head>

    {% load static %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'grocery.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">


</head>


<body id="base-bg-img">
<div class="container">
    <br>
    <br>
        <div style="text-align: center;">
            <a href="{% url 'grocery:user_lists' %}" class="btn btn-success">Back </a>
            <a href="{% url 'grocery:create_list' list_id=list_id %}" class="btn btn-success">Add From Category </a>
<br>
<br>
                    <form method="POST" action="{% url 'grocery:custom_item' list_id=list_id %}" class="form-control" style="max-width: 100%; float:none; margin:0 auto;">
                        {% csrf_token %}
                        <label for="item_add">Add Item</label>
                        <input type="text" id="item_add" name="item" class="form-control">
                        <input type="hidden" name="list_id" value="{{ list_id }}">
                        <br>

                    <button type="submit" class="btn btn-success">Add</button>

                </form>
        </div>
        <table id="view_list" class="table table-striped table-bordered">
            <tr>
                <th>Item</th>
                <th>Date Purchased</th>
                <th>Delete </th>
                <th>Favorite</th>
            </tr>
            {% for i in list %}
            {% if i.completed %}
            <tr>
                <td>
                    <s><a href="{% url 'grocery:undo' item_id=i.id list_id=i.name.id %}">{{ i.item }}</a>
                </td>
                <td>{{ i.date }}</td>
                <td><span><a href="{% url 'grocery:del_item' item_id=i.id list_id=i.name.id %}"><i
                                class="fa fa-trash"></i></a></span></td>
                {% if i.favorite %}
                <td><a href="{% url 'grocery:un-favorite' item_id=i.id list_id=i.name.id %}"><i
                            class="fas fa-star"></i></a></td>
                {% else %}
                <td><a href="{% url 'grocery:favorite' item_id=i.id list_id=i.name.id %}"><i
                            class="far fa-star"></i></a></td>
                {% endif %}


            </tr>
            {% else %}
            <tr>

                <td>
                    <a href="{% url 'grocery:complete' item_id=i.id list_id=i.name.id %}">{{ i.item }}</a>
                </td>
                <td>--</td>
                <td>
                    <a href="{% url 'grocery:del_item' item_id=i.id list_id=i.name.id %}"><i
                            class="fa fa-trash"></i></a>
                </td>


                {% if i.favorite %}
                <td><a href="{% url 'grocery:un-favorite' item_id=i.id list_id=i.name.id %}"><i
                            class="fas fa-star"></i></a></td>
                {% else %}
                <td><a href="{% url 'grocery:favorite' item_id=i.id list_id=i.name.id %}"><i
                            class="far fa-star"></i></a></td>
                {% endif %}


            </tr>
            {% endif %}
            {% endfor %}
        </table>
</div>
</body>



{% endblock %}