
<title>Grocery List</title>
{% extends 'base.html' %}
{% load static %}



{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'grocery.css' %}">
<br>
<br>
<div style="text-align: center;">
    <a href="/" class="btn btn-success">Back </a>
    <a href="{% url 'grocery:delete' %}" class="btn btn-success">Purchased </a>
    </div>

<table class="table table-striped table-bordered">
    <tr>
        <th>List Items</th>
        <th>Delete </th>
    </tr>
    {% for i in list %}
    {% if i.completed %}
    <tr>
        <td>
         <s><a href="{% url 'grocery:undo' item_id=i.id %}">{{ i.item }}</a>
        </td>
        <td><a href="{% url 'grocery:del_item' item_id=i.id %}">X</a></td>
    </tr>
    {% else %}
    <tr>

        <td>
         <a href="{% url 'grocery:complete' item_id=i.id %}">{{ i.item }}</a>
        </td>
        <td><a href="{% url 'grocery:del_item' item_id=i.id %}">X</a></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

{% endblock %}