{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'grocery.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">



<body id="base-bg-img">

<div class="card" id="category" style="margin: 20px;">
    <div class="card-header">
        <h2>Personal Menu</h2>
    </div>
    <div class="card-body" id="menu-card">
        <table class="table table-striped table-bordered">
            <tr>
                <th style="width: 20px; text-align:center"><h4>Index</h4></th>
                <th style="text-align:center"><h4>Dish</h4></th>
                <th style="text-align: center;">Delete</th>
            </tr>
            
        {% for i in dish %}
        <tr>
            <td style="text-align:center" >{{forloop.counter|add:0}}</td>
            <td>
        <h4><a href="{% url 'grocery:menu_detail' dish_id=i.id%}">{{ i.dish }}</a></h4></td>
        <td><a href="{% url 'grocery:delete_menu' menu_id=i.id %}"><i class="fa fa-trash"></i></a></td>
    </tr>
    {% endfor %}
    </div>
</div>


</body>
{% endblock %}